<a href="https://colab.research.google.com/github/arkabyo/microCred/blob/main/Class_Practice_(CUNY).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Class 1 | January 4, 2021

In [ ]:
print("hello everyone")

hello everyone

In [ ]:
first_name = 'Tom'
print(first_name)

Tom

In [ ]:
first_name = 'Tom'

last_name = 'Smith'

print(first_name + " " + last_name)

Tom Smith

In [ ]:
first_name = 'Tom'
last_name = 'Smith'
full_name = first_name + ' ' + last_name
print(full_name)

Tom Smith

In [ ]:
first_name = 'Mark'
last_name = 'O\'Brien'
full_name = first_name + ' ' + last_name
print (full_name)

Mark O'Brien

In [ ]:
eggs_count = 12
eggs_sold = 3
eggs_left = eggs_count - eggs_sold
print('There are ' + str(eggs_left) + ' to be sold') #convert integer to string using str

There are 9 to be sold

In [ ]:
hours = 27.5
rate = 10.00
pay = hours * rate
print(pay)

275.0

In [ ]:
hours = 27.5
rate = 10.00
pay = hours * rate
print("{:.2f}".format(pay))  #to format the number. {:.2f}

275.00

In [ ]:
married = True
print('The employee is married, True / False? ' + str(married)) #convert any type of data to string using str

The employee is married, True / False? True

In [ ]:
answer = (5<=4)
print(answer)

False

In [ ]:
team = ['Bob', 'Tom', 'Randy']
print(team)

['Bob', 'Tom', 'Randy']

In [ ]:
team = ['Bob', 'Tom', 'Randy']
print(team)
team.append('Mike')   #append to add to the list
print(team)

['Bob', 'Tom', 'Randy']
['Bob', 'Tom', 'Randy', 'Mike']

In [ ]:
team = ['Bob', 'Tom', 'Randy', 'Mike']
print(team)
team.remove('Tom')    #remove to remove from list
print(team)

['Bob', 'Tom', 'Randy', 'Mike']
['Bob', 'Randy', 'Mike']

In [ ]:
team = ['Bob', 'Tom', 'Randy', 'Mike']
print(team)
team.sort()
print(team)

['Bob', 'Tom', 'Randy', 'Mike']
['Bob', 'Mike', 'Randy', 'Tom']

In [ ]:
print(team[1])

Mike

In [ ]:
team = ['Bob', 'Tom', 'Randy', 'Mike']
print(team[1:3])

['Tom', 'Randy']

In [ ]:
team = ['Bob', 'Tom', 'Randy', 'Mike']
another_team = ['Jimmy', 'Paul', 'Joe']
team.extend(another_team) #extend will extend the same index/list, and append will add up another list
print(team)

['Bob', 'Tom', 'Randy', 'Mike', 'Jimmy', 'Paul', 'Joe']

In [ ]:
employee = {'first_name' : 'Tom', 'last_name' : 'Smith', 'gender': 'male'}
print(employee)

{'first_name': 'Tom', 'last_name': 'Smith', 'gender': 'male'}

In [ ]:
print(employee['gender'])

male

In [ ]:
employee = {'first_name' : 'Tom', 'last_name' : 'Smith', 'gender': 'male'}
for k, v in employee.items():   #
   print(k,' = ', v)  #k is key means what we are getting, v is value of the key

first_name  =  Tom
last_name  =  Smith
gender  =  male

In [ ]:
first_name = input('Enter First Name: ')
last_name = input('Enter Last Name: ')
full_name = first_name + " " + last_name
print(full_name)

Enter First Name: Avijit
Enter Last Name: Roy
Avijit Roy

In [ ]:
first_name = input('Enter First Name: ')
last_name = input('Enter Last Name: ')
address1 = input('Enter your street address: ')
city = input('Enter your city: ')
state = input('Enter your state: ')
zip = input('Enter your Zip code: ')
age = input('Enter your age: ')
major = input('Enter your major: ')



print('\nFirst Name: '+ first_name+ '\n'+ 'Last Name: '+ last_name+ '\n'+ 'Address 1: '+ address1+'\n'+ 'City: '+ city+'\n'+ 'State: '+ state+'\n'+ 'Zip: '+ zip+ '\n'+ 'Major: '+ major+'\n'+ 'Age: '+ age)

Enter First Name: Avijit
Enter Last Name: Roy
Enter your street address: 320 Manhattan Ave
Enter your city: New York
Enter your state: NY
Enter your Zip code: 10026
Enter your age: 22
Enter your major: CSCI

First Name: Avijit
Last Name: Roy
Address 1: 320 Manhattan Ave
City: New York
State: NY
Zip: 10026
Major: CSCI
Age: 22

In [ ]:
print('The following people are in my class ' + '\n\t-Tom' + '\n\t-Bob\n\t-Sully' + '\n\t' + '-Barbara' + '\n\t' '-Roy')

The following people are in my class
	-Tom
	-Bob
	-Sully
	-Barbara
	-Roy

In [ ]:
Hours = int(input('Hours '))
Rate = int(input('Rate '))
Gross = Hours * Rate
Taxes = .20
NetIncome = int(Gross) - int(Gross * Taxes)

print(NetIncome)

Hours 20
Rate 20
320

In [ ]:
full_name = input("Enter your Full Name: ")
hours = input("Enter the hours worked: ")
rate = input("What's your hourly rate?: ")
gross_income = float(hours) * float(rate)
tax = input("Enter your Tax percantage: ")
tax_rate = float(tax) * .01
tax_deduction = gross_income*tax_rate
net_income = gross_income-tax_deduction

print('\nName           : ' + full_name + '\nGross Income   : ' + "{:.2f}".format((gross_income))+ '\nTax Deduction  : ' + "({:.2f}".format((tax_deduction)) + ')\nNet Income     : ' + "{:.2f}".format((net_income))) #using comma will make the first line indented, so, using + is a better solution

Enter your Full Name: Avijit Roy
Enter the hours worked: 20
What's your hourly rate?: 20
Enter your Tax percantage: 20

Name           : Avijit Roy
Gross Income   : 400.00
Tax Deduction  : (80.00)
Net Income     : 320.00

# **Class 2 | Jan 5, 2021**

In [ ]:
school = 'cuny john jay'
print(school)

cuny john jay

In [ ]:
school = 'cuny john jay'
print(school.upper())

CUNY JOHN JAY

In [ ]:
school = 'CUNY john jay'
print(school.lower())

cuny john jay

In [ ]:
school = 'cuny john jay college of criminal justice'
print(school.title())

Cuny John Jay College Of Criminal Justice

In [ ]:
school = 'cuny laguardia'
print(school[0].upper() + school[1:4] + '\t' + school[5].upper() + school[6:])

Cuny	Laguardia

In [ ]:
first_name = 'Thomas'
last_name = '       Jackson'
full_name = first_name + ' ' + last_name.strip()
print(full_name)

In [ ]:
first_name = 'Thomas'
middle_name = '        Rocky                    '
last_name = 'Jackson'
full_name = first_name + ' ' + middle_name.strip() + ' ' + last_name   #right strip
print(full_name)

In [ ]:
x = 20
y = 25
answer = x+y
print("The answer is " + str(answer))

In [ ]:
text = "Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are"
print(text)

Write a Python program to accept a filename from the user and print the extension of that. Go to the editor
Sample filename : abc.java
Output : java

In [ ]:
#Write a Python program to accept a filename from the user and print the extension of that. Go to the editor
#Sample filename : abc.java
#Output : java

file_name = input("Sample filename: ")
file_ext = file_name.split(".")
print("Output: " + file_ext[-1])

Write a Python program to get the Python version you are using.

Write a Python program to display the current date and time.
Sample Output :

In [ ]:
#Write a Python program to get the Python version you are using.

import sys
print("Python Version is :\n" + sys.version)

#Write a Python program to display the current date and time.

from datetime import datetime
print("\nCurrent Date and Time is: ", dt_string)

Write a Python program to print all even numbers SORTED from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence. Go to the editor
Sample numbers list :

numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

In [ ]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527]

numbers.sort()

for num in numbers:
  if num == 237:
    #print(num, end = " ")
    break
  elif num % 2 == 0:
    #result = num
    print(num, end = " ")

In [ ]:
movies = ['star wars', 'star track', 'lord of the rings', 'avengers']
print(movies)

In [ ]:
print(movies[1])

In [ ]:
print(movies[0:3])

In [ ]:
print(movies[1].title())

In [ ]:
movies = ['star wars', 'star track', 'lord of the rings', 'avengers']

for i in movies:
  print(i.title(), end = ", ")
#print([i.title() for i in movies])

In [ ]:
message = 'My favorite movie of all time is ' + movies[0]
print(message)

In [ ]:
movies[1] = 'Grown Ups 2'
print(movies)

In [ ]:
movies.append('Harry Potter')
print(movies)

In [ ]:
print(movies)
movies.sort()
print(movies)
movies.sort(reverse=True)
print(movies)
print(len(movies))
print(movies)
print(sorted(movies))
print(movies)

# **Class 3 | January 6**

Started with assignment

*Unit 4 Started*

In [ ]:
name = 'cuny'
for x in name:
  print(x)

cuny

In [ ]:
tvshows = ['star trek', 'game of thrones', 'stranger things', 'breaking bad']
for show in tvshows:
  print(show)

star trek
game of thrones
stranger things
breaking bad

In [ ]:
tvshows = ['star trek', 'game of thrones', 'stranger things', 'breaking bad']
for shows in tvshows:
  print(show.title() + ' is one of my favorite TV Shows')

Breaking Bad is one of my favorite TV Shows
Breaking Bad is one of my favorite TV Shows
Breaking Bad is one of my favorite TV Shows
Breaking Bad is one of my favorite TV Shows

In [ ]:
tvshows = ['star trek', 'game of thrones', 'stranger things', 'breaking bad']
for shows in tvshows:
  print(show.title() + ' is one of my favorite TV Shows')
print('\nSo, I have ' + str(len(tvshows)) + ' favorite TV Shows.')

Breaking Bad is one of my favorite TV Shows
Breaking Bad is one of my favorite TV Shows
Breaking Bad is one of my favorite TV Shows
Breaking Bad is one of my favorite TV Shows

So, I have 4 favorite TV Shows.

In [ ]:
for num in range(1,10):
  print(num, sep="")

1
2
3
4
5
6
7
8
9

In [ ]:
numbers = list(range(1,11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers = list(range(0,11,2))
print(numbers)

[0, 2, 4, 6, 8, 10]

In [ ]:
numbers = list(range(0,11,2))
print('The minimum number is ' + str(min(numbers)))

The minimum number is 0

In [ ]:
import statistics
import math 
numbers = list(range(1,11))
print('The minimum number is ' + str(min(numbers)))
print('The maximum number is ' + str(max(numbers)))
print('The sum is ' + str(sum(numbers)))
print('The mean is ' + str(statistics.mean(numbers)))
print('The average is ' + str(sum(numbers)/len(numbers)))

The minimum number is 1
The maximum number is 10
The sum is 55
The mean is 5.5
The average is 5.5

In [ ]:
tvshows = ['star trek', 'game of thrones', 'stranger things', 'breaking bad', 'big bang theory', 'blac mirror']
print(tvshows[0:3])
print(tvshows[2:5])

['star trek', 'game of thrones', 'stranger things']
['stranger things', 'breaking bad', 'big bang theory']

In [ ]:
for show in tvshows[2:]:
  print(show.title() + ' is one of my favorite')

Stranger Things is one of my favorite
Breaking Bad is one of my favorite
Big Bang Theory is one of my favorite
Blac Mirror is one of my favorite

**1)	Write a Python program to construct the following pattern, using a nested for loop.**

In [ ]:
count = 5
for i in range(count):
  for j in range(i):
    print("* ", end = "")
  print("")
for i in range(count,0,-1):
  for j in range(i):
    print("* ", end = "")
  print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

**2)	Write a Python program that accepts a word from the user and reverse it. Hint: use range() function**

In [ ]:
word = input("Enter a word to reverse: ")

#using variables can be called sub-documenting
start = len(word)-1
stop = -1
step = -1
for char in range(start, stop, step): # range(start, stop, step)
  print(word[char], end = "")

Enter a word to reverse: Python
nohtyP

**3) Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.**

**Note : Use 'continue' statement.**

**Expected Output : 0 1 2 4 5**

In [ ]:
numbers = range(6)
for num in numbers:
  if(num == 3 or num == 6):
    continue
  print(num, end=" ")

# a different version
 #if(num != 3 and num != 6):
    #print(num, end=" ")

0 1 2 4 5

**4)	Write a Python program to calculate a dog's age in dog's years.**

**Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.**

**Expected Output:**

**Input a dog's age in human years: 15**                                    

**The dog's age in dog's years is 73**

In [ ]:
human_age = float(input("Input a dog'g age in human years: "))
if (human_age <= 2):
  dog_age = human_age * 10.5
else:
  dog_age =  21 + (human_age - 2)*4

print("The dog's age in dog's years is: " + str(dog_age))

Input a dog'g age in human years: 2
The dog's age in dog's years is: 21.0

**More Practice / Unit 5**

In [ ]:
motorcycles = ['ducati', 'bmw', 'yamaha', 'honda', 'kawasaki']
for bike in motorcycles:
  if bike == 'ducati':
    print(bike.upper())
  else:
    print(bike.title())

DUCATI
Bmw
Yamaha
Honda
Kawasaki

In [ ]:
motorcycles = ['ducati', 'bmw', 'yamaha', 'honda', 'kawasaki']
for bike in motorcycles:
  if bike == 'ducati':
    print(bike.upper())
  elif bike == 'yamaha':
    print(bike.lower())
  else:
    print(bike.title())

DUCATI
Bmw
yamaha
Honda
Kawasaki

In [ ]:
bike_inventory = 12
if bike_inventory < 15:
  print("Time to order more bikes.")
else:
  print("We have enough bikes.")

Time to order more bikes.

In [ ]:
motorcycles = ['ducati', 'bmw', 'yamaha', 'honda', 'kawasaki']
if 'bmw' in motorcycles:
  print('The company sells BMW bikes.')
else:
  print("Shop elsewhere!")

The company sells BMW bikes.

In [ ]:
motorcycles = ['ducati', 'bmw', 'yamaha', 'honda', 'kawasaki']
if 'suzuki' not in motorcycles:
  print('Shop elsewhere!')
else:
  print("The company sells Suzuki bikes.")

Shop elsewhere!

In [ ]:
# admission prices are as follows:
# age < 5, FREE
# age >= 5, and < 15, $10
# age >= 15, and < 21, $15
# rest are $20

#input age
#input quantitiy
#print total cost of tickets

age = int(input("Enter the student's age: "))
quantity = int(input("How many Tickets do you need? "))


if(age < 5):
  print("\nThe child can enter for FREE.\n")
elif(age >= 5 and age < 15):
  print("\nThe ticket cost is : $" + str(10 * quantity))
elif(age >= 15 and age < 21):
  print("\nThe ticket cost is : $" + str(15 * quantity))
else:
  print("\nThe ticket cost is : $" + str(20 * quantity))

Enter the student's age: 10
How many Tickets do you need? 10

The ticket cost is : $100