<a href="https://colab.research.google.com/github/arkabyo/microCred/blob/main/Class_Practice_(CUNY).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello everyone")

hello everyone

In [ ]:
first_name = 'Tom'
print(first_name)

Tom

In [ ]:
first_name = 'Tom'

last_name = 'Smith'

print(first_name + " " + last_name)

Tom Smith

In [ ]:
first_name = 'Tom'
last_name = 'Smith'
full_name = first_name + ' ' + last_name
print(full_name)

Tom Smith

In [ ]:
first_name = 'Mark'
last_name = 'O\'Brien'
full_name = first_name + ' ' + last_name
print (full_name)

Mark O'Brien

In [ ]:
eggs_count = 12
eggs_sold = 3
eggs_left = eggs_count - eggs_sold
print('There are ' + str(eggs_left) + ' to be sold') #convert integer to string using str

There are 9 to be sold

In [ ]:
hours = 27.5
rate = 10.00
pay = hours * rate
print(pay)

275.0

In [ ]:
hours = 27.5
rate = 10.00
pay = hours * rate
print("{:.2f}".format(pay))  #to format the number. {:.2f}

275.00

In [ ]:
married = True
print('The employee is married, True / False? ' + str(married)) #convert any type of data to string using str

The employee is married, True / False? True

In [ ]:
answer = (5<=4)
print(answer)

False

In [ ]:
team = ['Bob', 'Tom', 'Randy']
print(team)

['Bob', 'Tom', 'Randy']

In [ ]:
team = ['Bob', 'Tom', 'Randy']
print(team)
team.append('Mike')   #append to add to the list
print(team)

['Bob', 'Tom', 'Randy']
['Bob', 'Tom', 'Randy', 'Mike']

In [ ]:
team = ['Bob', 'Tom', 'Randy', 'Mike']
print(team)
team.remove('Tom')    #remove to remove from list
print(team)

['Bob', 'Tom', 'Randy', 'Mike']
['Bob', 'Randy', 'Mike']

In [ ]:
team = ['Bob', 'Tom', 'Randy', 'Mike']
print(team)
team.sort()
print(team)

['Bob', 'Tom', 'Randy', 'Mike']
['Bob', 'Mike', 'Randy', 'Tom']

In [ ]:
print(team[1])

Mike

In [ ]:
team = ['Bob', 'Tom', 'Randy', 'Mike']
print(team[1:3])

['Tom', 'Randy']

In [ ]:
team = ['Bob', 'Tom', 'Randy', 'Mike']
another_team = ['Jimmy', 'Paul', 'Joe']
team.extend(another_team) #extend will extend the same index/list, and append will add up another list
print(team)

['Bob', 'Tom', 'Randy', 'Mike', 'Jimmy', 'Paul', 'Joe']

In [ ]:
employee = {'first_name' : 'Tom', 'last_name' : 'Smith', 'gender': 'male'}
print(employee)

{'first_name': 'Tom', 'last_name': 'Smith', 'gender': 'male'}

In [ ]:
print(employee['gender'])

male

In [ ]:
employee = {'first_name' : 'Tom', 'last_name' : 'Smith', 'gender': 'male'}
for k, v in employee.items():   #
   print(k,' = ', v)  #k is key means what we are getting, v is value of the key

first_name  =  Tom
last_name  =  Smith
gender  =  male

In [ ]:
first_name = input('Enter First Name: ')
last_name = input('Enter Last Name: ')
full_name = first_name + " " + last_name
print(full_name)

Enter First Name: Avijit
Enter Last Name: Roy
Avijit Roy

In [ ]:
first_name = input('Enter First Name: ')
last_name = input('Enter Last Name: ')
address1 = input('Enter your street address: ')
city = input('Enter your city: ')
state = input('Enter your state: ')
zip = input('Enter your Zip code: ')
age = input('Enter your age: ')
major = input('Enter your major: ')



print('\nFirst Name: '+ first_name+ '\n'+ 'Last Name: '+ last_name+ '\n'+ 'Address 1: '+ address1+'\n'+ 'City: '+ city+'\n'+ 'State: '+ state+'\n'+ 'Zip: '+ zip+ '\n'+ 'Major: '+ major+'\n'+ 'Age: '+ age)

Enter First Name: Avijit
Enter Last Name: Roy
Enter your street address: 320 Manhattan Ave
Enter your city: New York
Enter your state: NY
Enter your Zip code: 10026
Enter your age: 22
Enter your major: CSCI

First Name: Avijit
Last Name: Roy
Address 1: 320 Manhattan Ave
City: New York
State: NY
Zip: 10026
Major: CSCI
Age: 22

In [ ]:
print('The following people are in my class ' + '\n\t-Tom' + '\n\t-Bob\n\t-Sully' + '\n\t' + '-Barbara' + '\n\t' '-Roy')

The following people are in my class
	-Tom
	-Bob
	-Sully
	-Barbara
	-Roy

In [ ]:
Hours = int(input('Hours '))
Rate = int(input('Rate '))
Gross = Hours * Rate
Taxes = .20
NetIncome = int(Gross) - int(Gross * Taxes)

print(NetIncome)

Hours 20
Rate 20
320

In [ ]:
full_name = input("Enter your Full Name: ")
hours = input("Enter the hours worked: ")
rate = input("What's your hourly rate?: ")
gross_income = float(hours) * float(rate)
tax = input("Enter your Tax percantage: ")
tax_rate = float(tax) * .01
tax_deduction = gross_income*tax_rate
net_income = gross_income-tax_deduction

print('\nName           : ' + full_name + '\nGross Income   : ' + "{:.2f}".format((gross_income))+ '\nTax Deduction  : ' + "({:.2f}".format((tax_deduction)) + ')\nNet Income     : ' + "{:.2f}".format((net_income))) #using comma will make the first line indented, so, using + is a better solution

Enter your Full Name: Avijit Roy
Enter the hours worked: 20
What's your hourly rate?: 20
Enter your Tax percantage: 20

Name           : Avijit Roy
Gross Income   : 400.00
Tax Deduction  : (80.00)
Net Income     : 320.00

# **Class 2 | Jan 5, 2021**

In [ ]:
school = 'cuny john jay'
print(school)

cuny john jay

In [ ]:
school = 'cuny john jay'
print(school.upper())

CUNY JOHN JAY

In [ ]:
school = 'CUNY john jay'
print(school.lower())

cuny john jay

In [ ]:
school = 'cuny john jay college of criminal justice'
print(school.title())

Cuny John Jay College Of Criminal Justice

In [ ]:
Cuny  Laguardia

In [ ]:
school = 'cuny laguardia'
print(school[0].upper() + school[1:4] + '\t' + school[5].upper() + school[6:])

Cuny	Laguardia

In [ ]:
first_name = 'Thomas'
last_name = '       Jackson'
full_name = first_name + ' ' + last_name.strip()
print(full_name)

Thomas Jackson

In [ ]:
first_name = 'Thomas'
middle_name = '        Rocky                    '
last_name = 'Jackson'
full_name = first_name + ' ' + middle_name.strip() + ' ' + last_name   #right strip
print(full_name)

Thomas Rocky Jackson

In [ ]:
x = 20
y = 25
answer = x+y
print("The answer is " + str(answer))

The answer is 45

In [ ]:
text = "Twinkle, twinkle, little star,\n\tHow I wonder what you are!\n\t\tUp above the world so high,\n\t\tLike a diamond in the sky.\nTwinkle, twinkle, little star,\n\tHow I wonder what you are"
print(text)

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

Write a Python program to accept a filename from the user and print the extension of that. Go to the editor
Sample filename : abc.java
Output : java

In [ ]:
#Write a Python program to accept a filename from the user and print the extension of that. Go to the editor
#Sample filename : abc.java
#Output : java

file_name = input("Sample filename: ")
file_ext = file_name.split(".")
print("Output: " + file_ext[-1])

Sample filename: Roy
Output: Roy

Write a Python program to get the Python version you are using.

Write a Python program to display the current date and time.
Sample Output :

In [ ]:
#Write a Python program to get the Python version you are using.

import sys
print("Python Version is :\n" + sys.version)

#Write a Python program to display the current date and time.

from datetime import datetime
print("\nCurrent Date and Time is: ", dt_string)

Python Version is :
3.6.9 (default, Oct  8 2020, 12:12:24)
[GCC 8.4.0]

Current Date and Time is:  06/01/2021 00:54:52

Write a Python program to print all even numbers SORTED from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence. Go to the editor
Sample numbers list :

numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

In [ ]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527]

numbers.sort()

for num in numbers:
  if num == 237:
    #print(num, end = " ")
    break
  elif num % 2 == 0:
    #result = num
    print(num, end = " ")

24 58 104 162 236

In [ ]:
movies = ['star wars', 'star track', 'lord of the rings', 'avengers']
print(movies)

['star wars', 'star track', 'lord of the rings', 'avengers']

In [ ]:
print(movies[1])

star track

In [ ]:
print(movies[0:3])

['star wars', 'star track', 'lord of the rings']

In [ ]:
print(movies[1].title())

Star Track

In [ ]:
movies = ['star wars', 'star track', 'lord of the rings', 'avengers']

for i in movies:
  print(i.title(), end = ", ")
#print([i.title() for i in movies])

Star Wars, Star Track, Lord Of The Rings, Avengers,

In [ ]:
message = 'My favorite movie of all time is ' + movies[0]
print(message)

My favorite movie of all time is star wars

In [ ]:
movies[1] = 'Grown Ups 2'
print(movies)

['star wars', 'Grown Ups 2', 'lord of the rings', 'avengers']

In [ ]:
movies.append('Harry Potter')
print(movies)

['star wars', 'Grown Ups 2', 'lord of the rings', 'avengers', 'Harry Potter']

In [ ]:
print(movies)
movies.sort()
print(movies)
movies.sort(reverse=True)
print(movies)
print(len(movies))
print(movies)
print(sorted(movies))
print(movies)

['star wars', 'lord of the rings', 'avengers', 'Harry Potter', 'Grown Ups 2']
['Grown Ups 2', 'Harry Potter', 'avengers', 'lord of the rings', 'star wars']
['star wars', 'lord of the rings', 'avengers', 'Harry Potter', 'Grown Ups 2']
5
['star wars', 'lord of the rings', 'avengers', 'Harry Potter', 'Grown Ups 2']
['Grown Ups 2', 'Harry Potter', 'avengers', 'lord of the rings', 'star wars']
['star wars', 'lord of the rings', 'avengers', 'Harry Potter', 'Grown Ups 2']

# **Class 3 | January 6**

Started with assignment