<a href="https://colab.research.google.com/github/arkabyo/microCred/blob/main/Python_Dictionary_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1: Below are the two lists convert it into the dictionary
keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

In [25]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

dictionary = dict(zip(keys, values))

print(dictionary)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

#2: Merge following two Python dictionaries into one

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [11]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict_merged = {k: v for d in [dict1, dict2] for k, v in d.items()}

print(dict_merged)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

#3: Access the value of key ‘history’
sampleDict = { 



```
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

```

In [22]:
sampleDict = {
    "class":{
        "student":{
            "name"  : "Mike",
            "marks" : {
                "physics" : 70,
                "history" : 80
            }
        }
    }
}

print(sampleDict['class']['student']['marks']['history'])

80

#4: Initialize dictionary with default values Given:
```
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}
```

In [24]:
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

resDict = dict.fromkeys(employees, defaults)
print(resDict)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

#5: Create a new dictionary by extracting the following keys from a given dictionary

In [26]:
sampleDict = {
              "name"    : "Kelly",
              "age"     : 25,
              "salary"  : 8000,
              "city"    : "New york"
            }

keys = ["name", "salary"]

newDictionary = {k: sampleDict[k] for k in keys}

print(newDictionary)

{'name': 'Kelly', 'salary': 8000}

#6: Delete set of keys from Python Dictionary Given:
Output: {'city': 'New york', 'age': 25}

In [28]:
sampleDict = {
              "name"    : "Kelly",
              "age"     : 25,
              "salary"  : 8000,
              "city"    : "New york"
            }

keys = ["name", "salary"]

newDictionary = {k: sampleDict[k] for k in sampleDict.keys() - keys}

print(newDictionary)

{'city': 'New york', 'age': 25}

# 7: Check if a value 200 exists in a dictionary
Output: True

In [29]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

print(200 in sampleDict.values())

True

#8: Rename key city to location in the following dictionary

In [39]:
sampleDict = {
              "name"    : "Kelly",
              "age"     : 25,
              "salary"  : 8000,
              "city"    : "New york"
            }

sampleDict['location'] = sampleDict.pop('city')
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

#9: Get the key corresponding to the minimum value from the following dictionary

In [44]:
sampleDict = {
              'Physics' : 82,
              'Math'    : 65,
              'history' : 75
            }
print(min(sampleDict, key = sampleDict.get))

Math

#10: Given a Python dictionary, Change Brad’s salary to 8500

In [48]:
sampleDict = {
              'emp1': {'name': 'Jhon', 'salary': 7500},
              'emp2': {'name': 'Emma', 'salary': 8000},
              'emp3': {'name': 'Brad', 'salary': 6500}
            }

sampleDict['emp3'] ['salary'] = 8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}