<a href="https://colab.research.google.com/github/arkabyo/microCred/blob/main/Unit_2_Lesson_3_Practice_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1)	Write a Python program to construct the following pattern, using a nested for loop.**

In [52]:
count = 5
for i in range(count):
  for j in range(i):
    print("* ", end = "")
  print("")
for i in range(count,0,-1):
  for j in range(i):
    print("* ", end = "")
  print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

**2)	Write a Python program that accepts a word from the user and reverse it. Hint: use range() function**

In [65]:
word = input("Enter a word to reverse: ")

for char in range(len(word) - 1, -1, -1):
  print(word[char], end = "")

Enter a word to reverse: Python
nohtyP

**Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.**

**Note : Use 'continue' statement.**

**Expected Output : 0 1 2 4 5**

In [16]:
numbers = range(6)
for num in numbers:
  if(num == 3 or num == 6):
    continue
  print(num, end=" ")

0 1 2 4 5

**4)	Write a Python program to calculate a dog's age in dog's years. Go to the editor**

**Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.**

**Expected Output:**

**Input a dog's age in human years: 15**                                    

**The dog's age in dog's years is 73**

In [44]:
human_age = int(input("Input a dog'g age in human years: "))
if (human_age <= 2):
  dog_age = human_age * 10.5
else:
  dog_age =  21 + (human_age - 2)*4

print("The dog's age in dog's years is: " + str(dog_age))

Input a dog'g age in human years: 15
The dog's age in dog's years is: 73